section.section1 {background-color: #FFFFCC; visibility: hidden; overflow: scroll; height: 75%; width: 100%;}

section.section2 {background-color: #DCDCDC; visibility: hidden; overflow: scroll; height: 75%; width: 100%;}